# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Expo
.expo/
.expo-shared/
web-build/
dist/
*.turtlecode

# Android
android/.gradle/
android/app/build/
android/build/
android/local.properties
android/.idea/
android/.cxx/
android/.DS_Store
android/app/.cxx/
android/app/.DS_Store
android/app/intermediates/
android/app/generated/
android/app/.idea/

.idea/

# iOS (if you ever add it)
ios/build/
ios/Pods/
ios/Podfile.lock
ios/.DS_Store

# VSCode
.vscode/
.history/

# Mac system files
.DS_Store

# Environment variables
.env
.env.*
.envrc

# Misc
*.log
*.tmp
*.swp
*.swo

# Test coverage
coverage/
.nyc_output/

# Metro/React Native cache
.cache/
react-native-packager-cache-*/
__generated__/